!!!5
html(lang="en")
    head
        title= ns.sitename
        link(rel="stylesheet", href="/style.css")
        meta(name="viewport", content="initial-scale=1.0, maximum-scale=1.0, user-scale=noe, width=device-width")
    body
        .header
            .inner-header
                a#logo(href="/", title="Back to home") Modoc
                sub description
        .body
            .sidebar
                block sidebar
            .content
                block content
        .footer
            .inner-footer footer here
