!!! 5
include mixins
html
  head
    title #{site_config.site_name}
    link(rel='stylesheet', type='text/css', href=site_config.site_url + 'static/site.css')
    link(rel='stylesheet', type='text/css', href=site_config.site_url + 'static/typo.css')
    link(href='http://fonts.googleapis.com/css?family=Quando&subset=latin,latin-ext', rel='stylesheet', type='text/css')
  body
    header#header
      mixin nav
    div#wrapper
      div#inner-wrapper
        block content
        include sidebar
    div#footer
      footer#inner-footer
        small
          | Powered by 
          a(href="https://github.com/ibigbug/marlboro") Marlboro
