!!! 5
include mixins
html
  head
    title #{site_config.site_name}
    link(rel='stylesheet', type='text/css', href=site_config.site_url + 'static/site.css')
    link(rel='stylesheet', type='text/css', href=site_config.site_url + 'static/typo.css')
    link(href='http://fonts.googleapis.com/css?family=Noto+Serif', rel='stylesheet', type='text/css')
  body
    div#header
      mixin nav
    div#wrapper
      div#inner-wrapper
        div#main
          block content
        div#sidebar
          include tags
    div#footer
      footer#inner-footer
        small
          | Powered by 
          a(href="https://github.com/ibigbug/marlboro") Marlboro
