!!! 5
include mixins
html
  head
    title #{site_config.site_name}
    link(rel='stylesheed', type='text/css', href='site.css')
  body
    header#header
      mixin nav
    div#wrapper
      block content
    footer#footer
      p some footer
