extends layout.jade

block content
  ul
    for folder in folders
      h3
        = folder
      ul
        for post in posts
          - if (post.folder == folder)
            li 
              a(href=post.perm_link, title=post.title)= post.title
