extends layout.jade
include mixins

block content
  - if (typeof tags != 'undefined')
    h3.title
      | Archives
      ul
        each count, tag in tags
          li
            mixin tagPost(posts, tag)

  - else
    h3.title
      | Tags
      ul
        for folder in folders
          li
            mixin folderPost(posts, folder)
