extends layout.jade
include mixins

block content
  - if (typeof tags != 'undefined')
    h1
      | Tags
    ul
      each count, tag in tags
        li
          mixin tagPost(posts, tag)

  - else
    h1
      | Archives
    ul
      for folder in folders
        li
          mixin folderPost(posts, folder)
