extends layout.jade
include mixins

block content
  - if (typeof tags != 'undefined')
    ul
      each count, tag in tags
        li
          mixin tagPost(posts, tag)

  - else
    ul
      for folder in folders
        li
         mixin folderPost(posts, folder)
